{% extends "base.html" %}

{% block app_content%}


<div class="container">

    <div class="row align-item-center">
        <div class="col-md-12" align="center">
            <h2>Search</h2>
        </div>
    </div>
       
    <div class="row align-items-center">
    
        <div class="col-md-1">
        <!--Button goes here-->
          <a href="{{ url_for('auth.authorize_spotify_user', user=current_user.username)  }}"><img src="https://store-images.s-microsoft.com/image/apps.46943.9007199266245148.65716085-8f7e-40af-9dd6-34b7bc30c6dd.af0b8fbf-5d63-4c74-97a9-31eefb48822b?w=180&h=180&q=60" width="60" height="60" /></a>


        </div>
        
        
        <!--Search Form here-->
        
        
         <div class="col-md-12" align="center">
            <form action="", method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                {{ form.search(size=100) }}<br>
                </p>
            </form>
        </div>
            
      
        <br>
    </div>
    
    
    <div class="header"><h3>Results</h3></div>
    <hr />
        {% if track_data %}
    		<table class="table table-hover">
    			<tr>
        			<th>Artist</th>
        			<th>Track Name</th>
        			<th>Album</th>
        			<th>Length</th>
        			<th>Add To Playlist</th>
        			<th>Preview</th>
    				
    			</tr>
    			
            	{% for data in track_data %}
            	<tr>
        			<td>{{ data['artist_name'] }}</td>
        			<td>{{ data['track_name'] }}</td>
        			<td>{{ data['album_name'] }}</td>
        			<td>{{ data['length'] }}</td>
        			<!-- When user clicks + button, a modal should come up allowing to create new playlists or to chose a playlist to add a track to.-->
        			<td> <button class="btn" data-toggle="modal" data-target="#addPlaylistModal">+</button></td>
        			
                        			
                <!--Begin Modal-->
                <div id="addPlaylistModal" class="modal fade", role="dialog">
                    <div class="modal-dialog">
                    
                    <!--Modal Content-->
                    <div class="modal-content">
                    
                    <!--Modal Header-->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add to Playlist</h4>
                    </div>
                    
                    <!--Modal Body-->
                    <div class="modal-body">
                        {% if current_user.playlists.all() !=[] %}
                            {% for playlist in current_user.playlists.all() %}
                                  {% if data['length'] != None %}
                                  <li><a href="{{ url_for('main.add_song_to_playlist', user=current_user.username, playlist_name=playlist.title, song_name=data['track_name'], song_url=data['href'], song_length=data['length']) }}">{{ playlist.title }}</a></li>
                                  {% else %}
                                  <li><a href="{{ url_for('main.add_song_to_playlist', user=current_user.username, playlist_name=playlist.title, song_name=data['track_name'], song_url=data['href']) }}">{{ playlist.title }}</a></li>
                                  {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>Else block</p>
                        {% endif %}
                    </div>
                    
                    <!--Modal Footer-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                    
                    
                    </div>
                    </div>
                </div>		
                        			
        			<td><a href={{ data['preview_url'] }}>Sample</a></td>
        		</tr>
        		{% endfor %}
    			
			</table>
			{% endif %}
			
			
	
			
			

</div>


{% endblock %}